<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CategoriasController</servlet-name>
        <servlet-class>com.rsginer.carsrenting.servlets.CategoriasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehiculosController</servlet-name>
        <servlet-class>com.rsginer.carsrenting.servlets.VehiculosController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoriasController</servlet-name>
        <url-pattern>/CategoriasController</url-pattern>
        <url-pattern>/listaCategorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehiculosController</servlet-name>
        <url-pattern>/VehiculosController</url-pattern>
        <url-pattern>/listaVehiculos</url-pattern>
        <url-pattern>/nuevoVehiculo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
